*.DS_Store
*.ipynb_checkpoints

*.pyc
/trends/hw3/train-labels-idx1-ubyte.gz
/trends/hw3/train-images-idx3-ubyte.gz
/trends/hw3/t10k-labels-idx1-ubyte.gz
/trends/hw3/t10k-images-idx3-ubyte.gz
/sport/sdsj/tr_types.csv
/sport/sdsj/tr_mcc_codes.csv
/sport/sdsj/transactions.csv
/sport/sdsj/customers_gender_train.csv
