*.DS_Store
*.ipynb_checkpoints

*.pyc
/trends/hw3/train-labels-idx1-ubyte.gz
/trends/hw3/train-images-idx3-ubyte.gz
/trends/hw3/t10k-labels-idx1-ubyte.gz
/trends/hw3/t10k-images-idx3-ubyte.gz
/sport/sdsj/tr_types.csv
/sport/sdsj/tr_mcc_codes.csv
/sport/sdsj/transactions.csv
/sport/sdsj/customers_gender_train.csv
/base/hw03/data/url_domain_train
/base/hw03/data/url_domain_test
/base/hw03/data/title_unify_train
/base/hw03/data/title_unify_test
/base/hw03/data/age_profile_train
/base/hw03/data/sample_submission.csv
/base/hw03/solution.csv
/base/hw03/data.zip
/base/hw03/.cache/heamy/b00c43dbe6d1d125d20f7e626dee4f79e/test.npy
/base/hw03/.cache/heamy/b00c43dbe6d1d125d20f7e626dee4f79e/train.npy
/base/hw03/.cache/heamy/b00c43dbe6d1d125d20f7e626dee4f79e/y_train.npy
/base/hw03/.cache/heamy/b98a82bed1cd1c3414c47e2a955d55888/test.npy
/base/hw03/.cache/heamy/b98a82bed1cd1c3414c47e2a955d55888/train.npy
/base/hw03/.cache/heamy/b98a82bed1cd1c3414c47e2a955d55888/y_train.npy
/base/hw03/.cache/heamy/b9bfecab7b6912525b119d814031b61db/test.npy
/base/hw03/.cache/heamy/b9bfecab7b6912525b119d814031b61db/train.npy
/base/hw03/.cache/heamy/b9bfecab7b6912525b119d814031b61db/y_train.npy
/base/hw03/.cache/heamy/bb7de16d783e7c30bcd798e2e1adbcb7d/test.npy
/base/hw03/.cache/heamy/bb7de16d783e7c30bcd798e2e1adbcb7d/train.npy
/base/hw03/.cache/heamy/bb7de16d783e7c30bcd798e2e1adbcb7d/y_train.npy
/base/hw03/.cache/heamy/pa1d881e44ca6bc71ae866715066cd036/prediction.npy
/base/hw03/.cache/heamy/pb45ea426f2b2a56c0688e5dc4ff1a1d5/prediction.npy
/sport/acs/sample_submission.csv.zip
/sport/acs/test.csv.zip
/sport/acs/train.csv.zip
/sport/acs/test.csv
/sport/acs/train.csv
/sport/acs/sample_submission.csv
/sport/acs/data/sample_submission.csv
/sport/acs/data/sample_submission.csv.zip
/sport/acs/data/test.csv
/sport/acs/data/test.csv.zip
/sport/acs/data/train.csv
/sport/acs/data/train.csv.zip
/sport/acs/submission.csv
/base/hw01v2/data/adult.data
/cmd.txt~
/trends/hw4/cifar10/cifar-10-batches-py/batches.meta
/trends/hw4/cifar10/cifar-10-batches-py/data_batch_1
/trends/hw4/cifar10/cifar-10-batches-py/data_batch_2
/trends/hw4/cifar10/cifar-10-batches-py/data_batch_3
/trends/hw4/cifar10/cifar-10-batches-py/data_batch_4
/trends/hw4/cifar10/cifar-10-batches-py/data_batch_5
/trends/hw4/cifar10/cifar-10-batches-py/readme.html
/trends/hw4/cifar10/cifar-10-batches-py/test_batch
/trends/hw4/cifar-10-python.tar.gz
/trends/avt/avito_test.tsv
/trends/avt/avito_test.zip
/trends/avt/avito_train.tsv
/trends/avt/avito_train.zip
/trends/avt/oracle.py
/trends/avt/Seminar9_en (copy).ipynb
/trends/avt/Seminar9_en.ipynb
/trends/avt/Seminar9_ru (copy).ipynb
/trends/avt/Seminar9_ru.ipynb
/trends/hw5/avito_train_1kk.tsv
/trends/hw5/avito_train_1kk.tsv.tar.gz
/trends/hw5/preprocessed_data.pcl
/trends/hw5/token_to_id.pcl
/trends/hw5/Seminar9_en.ipynb
/trends/hw5/Seminar9_en (copy).ipynb
